<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf8">
	<base href="/">
	<title>SimQly</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/flat-ui.css">
	<link rel="stylesheet" href="css/main.css">

</head>
<body>
	<div ng-view>
	</div>

	<script src="js/jquery-2.0.3.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/flat-ui.min.js"></script>
	<script src="js/angular-touch.min.js"></script>
	<script src="js/ui-bootstrap-tpls-0.13.0.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/angular-animate.min.js"></script>
	<script src="js/angular-resource.js"></script>
	<script src="js/angular-file-upload.min.js"></script>
	<script src="js/d3.min.js"></script>
	<script src="js/templates.js"></script>

	<script src="app/app.js"></script>


	<script src="app/metrics/metricsModule.js"></script>
	<script src="app/metrics/metricsCtrl.js"></script>
	<script src="app/metrics/metricsFactory.js"></script>
	

</body>
</html>